{
  "tabWidth": 4,
  "printWidth": 100,
  "useTabs": true,
  "semi": false,
  "singleQuote": false,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 120,
        "parser": "go-template"
      }
    }
  ]
}
